## ex 1

In [ ]:
total=0
for x in range(1,5):
    score=int(input(f"Enter the score for subject {x} : "))
    total+=score

if total >=90:
    grad ='A'
elif  80 < total <90:
    grad ='B'
elif 70 < total <80:
    grad ='C'
else: grad ='D'    

print(f"total Score : {total}")
print(f"grad : {grad}")

## ex 2

In [ ]:
char = input("Enter a character: ").lower()
if char in "eaiou":
    print(f"The character '{char}' is a vowel.")
else:
    print(f"The character '{char}' is not a vowel.")

The character 'a' is a vowel.

## ex 3

In [ ]:
text =input('Enter your string').lower()
text_re=text[::-1]
if text ==text_re:
    print(f'{text} is a palindrom')
else :
    print(f'{text} not a palindrom')

ata is a palindrom

## ex 4

In [ ]:
s1=input('enter your first string')
s2=input('enter your second string')
text=s1[:(len(s1)//2)]+s2+s1[(len(s1)//2):]
print(text)

er23er

## ex 5

In [ ]:
text = input("enter a word")


count = {ch: text.count(ch) for ch in text}

print(count)

{'a': 1, 'p': 1, 'l': 2, 'e': 1}

## ex 6

In [2]:
result=1
num = int(input('enter your number : '))
if num >0:
    for x in range(1,num+1):
        result*=x
    print(f"the factorial is {result}")    
elif num==0:
    result =1
    print(f"the factorial is {result}")
else : 
    print('invalid number ')

invalid number

## ex 7

In [5]:
result=0
num =int(input('ener your number: '))
for x in range(1,num+1):
    result+=x**2
print(f'The sum of the squares of the first {num} natural numbers is: {result}')

The sum of the squares of the first 5 natural numbers is: 55

## ex 8

In [6]:
result=0
num =int(input('ener your number: '))
for x in range(1,num+1):
    result+=x
print(f'The sum of the first {num} natural numbers is: {result}')

The sum of the first 10 natural numbers is: 55

## ex 9

In [7]:
l=[1,2,3,4,5]
print(f"Original numbers: {l}")
squred_l=[]
for i in l:
    squred_l.append(i**2)
print("Squared numbers:", squred_l)

Original numbers: [1, 2, 3, 4, 5]
Squared numbers: [1, 4, 9, 16, 25]

## ex 10

In [ ]:
l=[1,2,3,4,5]
print(f"Original numbers: {l}")
squred_l={i**2 for i in l}
print("Squared numbers:", squred_l)

Original numbers: [1, 2, 3, 4, 5]
Squared numbers: {1, 4, 9, 16, 25}

## ex 11

In [4]:
l=[10,10,20,30,20,40,50,50]
s=set(l)
s.remove(20)
print(f"List after removing duplicates: {sorted(list(s))}")

List after removing duplicates: [10, 30, 40, 50]

## ex 12

In [8]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
tuple3 = (7, 8, 9)
length = len(tuple1)
result = []
for i in range(length):
    total = tuple1[i] + tuple2[i] + tuple3[i]
    result.append(total)
print("Element-wise sum of tuples:", result)

Element-wise sum of tuples: [12, 15, 18]

## ex 13

In [10]:
key=['a', 'b', 'c']
value=[1,2,3]
dict=dict()
for i in range(len(key)):
    dict[key[i]]=value[i]
print(dict)

{'a': 1, 'b': 2, 'c': 3}

## ex 14

In [19]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
squred_l=[i**2 for i in l]
dict={}
for i in range(len(l)):
    dict.update({l[i]:squred_l[i]})

print(dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

## ex 15

In [1]:
dict={'a':100,'b':200,'c':300}
value=list(dict.values())
for i in value:
    if i==100:
        print('Value 200 exists in the dictionary')
        break

Value 200 exists in the dictionary

In [3]:
import numpy as np 
np.random.rand()

0.033317758288813004