In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df=pd.read_csv('Data/adult.csv')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [20]:
df.describe()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [21]:
df=df.replace('?',None)

In [22]:
df.isnull().sum().sort_values()

age                  0
fnlwgt               0
education            0
education.num        0
marital.status       0
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
income               0
native.country     583
workclass         1836
occupation        1843
dtype: int64

In [23]:
df.dropna(inplace=True)

In [24]:
df.isnull().sum().sort_values()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [25]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,<=50K
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,<=50K

In [26]:
df.reset_index(drop=True,inplace=True)

In [27]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
1,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
2,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
3,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,<=50K
4,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,<=50K

In [28]:
# target = 'income'

# numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns.drop(target, errors='ignore')
# categorical_cols = df.select_dtypes(include=['object']).columns.drop(target)

# total_plots = len(numeric_cols) + len(categorical_cols)
# cols = 3
# rows = (total_plots + cols - 1) // cols

# plt.figure(figsize=(18, rows * 5))

# plot_num = 1

# for col in numeric_cols:
#     plt.subplot(rows, cols, plot_num)
#     sns.boxplot(data=df, x=target, y=col)
#     plt.title(f'{col} vs income')
#     plot_num += 1
#     plt.xticks(rotation = 90)

# for col in categorical_cols:
#     plt.subplot(rows, cols, plot_num)
#     sns.countplot(data=df, x=col, hue=target)
#     plt.xticks(rotation=45)
#     plt.title(f'{col} vs income')
#     plot_num += 1
#     plt.xticks(rotation = 90)

# plt.tight_layout()
# plt.show()

In [29]:
for col in df.columns:
    print(col,df[col].unique(),'\n')

age [82 54 41 34 38 74 68 45 52 32 46 57 37 29 61 51 21 33 49 23 59 60 63 53
 44 43 48 71 73 40 50 42 39 55 47 31 58 62 36 67 72 78 83 26 70 27 35 81
 66 65 25 28 56 69 20 30 90 24 64 75 19 77 22 80 18 17 79 76 88 84 85 86]

workclass ['Private' 'State-gov' 'Federal-gov' 'Self-emp-not-inc' 'Self-emp-inc'
 'Local-gov' 'Without-pay']

fnlwgt [132870 140359 264663 ...  84661 257302 201490]

education ['HS-grad' '7th-8th' 'Some-college' '10th' 'Doctorate' 'Prof-school'
 'Bachelors' 'Masters' '11th' 'Assoc-voc' '1st-4th' '5th-6th' 'Assoc-acdm'
 '12th' '9th' 'Preschool']

education.num [ 9  4 10  6 16 15 13 14  7 11  2  3 12  8  5  1]

marital.status ['Widowed' 'Divorced' 'Separated' 'Never-married' 'Married-civ-spouse'
 'Married-spouse-absent' 'Married-AF-spouse']

occupation ['Exec-managerial' 'Machine-op-inspct' 'Prof-specialty' 'Other-service'
 'Adm-clerical' 'Transport-moving' 'Sales' 'Craft-repair'
 'Farming-fishing' 'Tech-support' 'Protective-serv' 'Handlers-cleaners'
 'Armed-Forces' 'Priv-house-serv']

relationship ['Not-in-family' 'Unmarried' 'Own-child' 'Other-relative' 'Husband' 'Wife']

race ['White' 'Black' 'Asian-Pac-Islander' 'Other' 'Amer-Indian-Eskimo']

sex ['Female' 'Male']

capital.gain [    0 99999 41310 34095 27828 25236 25124 22040 20051 18481 15831 15024
 15020 14344 14084 13550 11678 10605 10566 10520  9562  9386  8614  7978
  7896  7688  7443  7430  7298  6849  6767  6723  6514  6497  6418  6360
  6097  5721  5556  5455  5178  5060  5013  4934  4931  4865  4787  4687
  4650  4508  4416  4386  4101  4064  3942  3908  3887  3818  3781  3674
  3471  3464  3456  3432  3418  3411  3325  3273  3137  3103  2993  2977
  2964  2961  2936  2907  2885  2829  2653  2635  2597  2580  2538  2463
  2414  2407  2387  2354  2346  2329  2290  2228  2202  2176  2174  2105
  2062  2050  2036  2009  1848  1831  1797  1639  1506  1471  1455  1424
  1409  1173  1151  1086  1055   991   914   594   401   114]

capital.loss [4356 3900 3770 3683 3004 2824 2754 2603 2559 2547 2472 2467 2457 2444
 2415 2392 2377 2352 2339 2282 2267 2258 2246 2238 2231 2206 2205 2201
 2179 2174 2149 2129 2080 2057 2051 2042 2002 2001 1980 1977 1974 1944
 1902 1887 1876 1848 1844 1825 1816 1762 1755 1741 1740 1735 1726 1721
 1719 1672 1669 1668 1651 1648 1628 1617 1602 1594 1590 1579 1573 1564
 1539 1504 1485 1411 1408 1380 1340 1258 1138 1092  974  880  810  653
  625  419  323  213  155    0]

hours.per.week [18 40 45 20 35 55 76 50 42 25 32 90 60 48 70 52 72 39  6 65 80 67 99 30
 75 12 26 10 84 38 62 44  8 28 59  5 24 57 34 37 46 56 41 98 43 15  1 36
 47 68 54  2 16  9  3  4 33 23 22 64 51 19 58 63 53 96 66 21  7 13 27 14
 77 31 78 11 49 17 85 87 88 73 89 97 94 29 82 86 91 81 92 61 74 95]

native.country ['United-States' 'Mexico' 'Greece' 'Vietnam' 'China' 'Taiwan' 'India'
 'Philippines' 'Trinadad&Tobago' 'Canada' 'South' 'Holand-Netherlands'
 'Puerto-Rico' 'Poland' 'Iran' 'England' 'Germany' 'Italy' 'Japan' 'Hong'
 'Honduras' 'Cuba' 'Ireland' 'Cambodia' 'Peru' 'Nicaragua'
 'Dominican-Republic' 'Haiti' 'Hungary' 'Columbia' 'Guatemala'
 'El-Salvador' 'Jamaica' 'Ecuador' 'France' 'Yugoslavia' 'Portugal' 'Laos'
 'Thailand' 'Outlying-US(Guam-USVI-etc)' 'Scotland']

income ['<=50K' '>50K']

In [30]:
df['income']=df['income'].map({'<=50K':0,">50K":1})

In [31]:
from category_encoders import TargetEncoder

ModuleNotFoundError: No module named 'category_encoders'

In [ ]:
target=TargetEncoder(cols=['workclass','education','occupation','native.country'])

In [ ]:
encoding_data=target.fit_transform(df[['workclass','education','occupation','native.country']],df['income'])

In [ ]:
encoding_data

       workclass  education  occupation  native.country
0       0.218792   0.164329    0.485220        0.254327
1       0.218792   0.062837    0.124619        0.254327
2       0.218792   0.200060    0.448489        0.254327
3       0.218792   0.164329    0.041096        0.254327
4       0.218792   0.071951    0.133835        0.254327
...          ...        ...         ...             ...
30157   0.218792   0.200060    0.326087        0.254327
30158   0.218792   0.253968    0.304825        0.254327
30159   0.218792   0.164329    0.124619        0.254327
30160   0.218792   0.164329    0.133835        0.254327
30161   0.218792   0.164329    0.133835        0.254327

[30162 rows x 4 columns]

In [ ]:
df[['workclass','education','occupation','native.country']]=encoding_data

In [ ]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,82,0.218792,132870,0.164329,9,Widowed,0.485220,Not-in-family,White,Female,0,4356,18,0.254327,0
1,54,0.218792,140359,0.062837,4,Divorced,0.124619,Unmarried,White,Female,0,3900,40,0.254327,0
2,41,0.218792,264663,0.200060,10,Separated,0.448489,Own-child,White,Female,0,3900,40,0.254327,0
3,34,0.218792,216864,0.164329,9,Divorced,0.041096,Unmarried,White,Female,0,3770,45,0.254327,0
4,38,0.218792,150601,0.071951,6,Separated,0.133835,Unmarried,White,Male,0,3770,40,0.254327,0

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le=LabelEncoder()

In [ ]:
df['sex']=le.fit_transform(df['sex'])

In [ ]:
df=pd.get_dummies(df)

In [ ]:
df=df.astype(int)

In [ ]:
df.head()

,age,workclass,fnlwgt,education,education.num,occupation,sex,capital.gain,capital.loss,hours.per.week,...,relationship_Not-in-family,relationship_Other-relative,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White
0,82,0,132870,0,9,0,0,0,4356,18,...,1,0,0,0,0,0,0,0,0,1
1,54,0,140359,0,4,0,0,0,3900,40,...,0,0,0,1,0,0,0,0,0,1
2,41,0,264663,0,10,0,0,0,3900,40,...,0,0,1,0,0,0,0,0,0,1
3,34,0,216864,0,9,0,0,0,3770,45,...,0,0,0,1,0,0,0,0,0,1
4,38,0,150601,0,6,0,1,0,3770,40,...,0,0,0,1,0,0,0,0,0,1

In [ ]:
df.shape

(30162, 30)

In [ ]:
df=df.drop('capital.loss',axis=1)

In [ ]:


# Q1=df.quantile(0.25)
# Q3=df.quantile(0.75)

# IQR=Q3-Q1
# lower=Q1-1.5*IQR
# upper=Q3+1.5*IQR

# df[numeric_cols]=np.clip(df[numeric_cols],lower,upper,axis=1)

In [ ]:
X=df.drop('income',axis=1)
y=df['income']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test=train_test_split(X,y,random_state=42,test_size=.2,shuffle=True)

In [ ]:
from sklearn.preprocessing import RobustScaler

In [ ]:
rob=RobustScaler()

In [ ]:
X_train[['age','fnlwgt','hours.per.week','capital.gain']]=rob.fit_transform(X_train[['age','fnlwgt','hours.per.week','capital.gain']])

In [ ]:
X_test[['age','fnlwgt','hours.per.week','capital.gain']]=rob.transform(X_test[['age','fnlwgt','hours.per.week','capital.gain']])

In [ ]:
# from models import run_classification_models,classifications_models


# selected_keys = ['KNN','LogisticRegression']
# selected_models = {}

# for key in selected_keys:
#     selected_models[key] = classifications_models[key]

# result = run_classification_models(selected_models, X_train, X_test, y_train, y_test)

In [ ]:
result

                model  train_acc  test_acc  train_f1   test_f1
0                 KNN   0.882921  0.829438  0.880794  0.826135
1  LogisticRegression   0.795143  0.784684  0.806804  0.796873

In [ ]:
# selected_keys = ['SVM']
# selected_models = {}

# for key in selected_keys:
#     selected_models[key] = classifications_models[key]

# result = run_classification_models(selected_models, X_train, X_test, y_train, y_test)

In [ ]:
# result

In [ ]:
import tensorflow as tf

In [ ]:
import tensorflow as tf
from tensorflow import keras

input_dim = X_train.shape[1]

model = Sequential([
    Dense(128, activation='relu', input_shape=(input_dim,)),
    Dropout(0.3),

    Dense(64, activation='relu'),
    Dropout(0.3),

    Dense(32, activation='relu'),

    Dense(1, activation='sigmoid')  # Binary
])

model.compile(
    optimizer='adam',
    loss='binary_crossentropy',
    metrics=['accuracy']
)

history = model.fit(
    X_train, y_train,
    validation_split=0.2,
    epochs=100,
    batch_size=32,
    callbacks=[early_stop],
    verbose=1
)

loss, acc = model.evaluate(X_test, y_test)
print("Test Accuracy:", acc)

2026-02-12 18:46:39.307200: I external/local_tsl/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2026-02-12 18:46:39.384965: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2026-02-12 18:46:39.385026: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2026-02-12 18:46:39.387572: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2026-02-12 18:46:39.399046: I external/local_tsl/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2026-02-12 18:46:39.400013: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2026-02-12 18:46:40.690065: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

NameError: name 'X_train' is not defined


model	train_acc	test_acc	train_f1	test_f1
0	KNN	0.882921	0.829438	0.880794	0.826135
2	LogisticRegression	0.795143	0.784684	0.806804	0.796873
3	GaussianNB	0.756061	0.741588	0.771581	0.758251
1	BernoulliNB	0.725227	0.712581	0.743100	0.731592